<%
login = BlackStack::MySaaS::Login.where(:id=>session['login.id']).first
user = login.user
account = BlackStack::I2P::Account.where(:id=>user.id_account).first # NOTE: I work with the child class from the module BlackStack::I2P
iid = params[:iid]
invoice = BlackStack::I2P::Invoice.where(:id=>iid).first

add_item_number = params[:add_item_number]
if add_item_number.to_s.size>0
	invoice.add_item(add_item_number)
	redirect "/settings/invoice?iid=#{iid}"
end 

remove_item_id = params[:remove_item_id]
if remove_item_id.to_s.size>0
	DB.execute("DELETE invoice_item WHERE [id]='#{remove_item_id}'")
	invoice.setup
	redirect "/settings/invoice?iid=#{iid}"
end
%>

<section class="row-fluid">			
	<div class='span12'>
		<%=nav3("Settings", "/settings/dashboard", "Invoices", "/settings/invoices", invoice.number.to_s)%>
	</div>
</section>

<section class="row-fluid">	
	<div class='span12 box'>
		<div class='span6'>
			<div class='span12'>
				<h3>
					<div class='span2' style="align:right;text-align:center;vertical-align:middle;" align="center">
						<img src='/core/images/logo/32x32-01.png' with='32px' style="align:center;text-align:center;vertical-align:middle;" align="center" />
					</div>
					<div class='span10' style="align:right;text-align:left;" align="left">
						<div>
							<small><%=COMPANY_NAME%></small>
							<br>
							INVOICE #: <small><%= invoice.number.to_s%></small>
						</div>
					</div>
				</h3>
			</div>
			<div class='span12'>
				<br>
				<small><strong>Date</strong></small>
				<br>
				<%= invoice.dateDesc%>
				<address>
					<%=COMPANY_NAME%>
					<br>
					<%=COMPANY_ADDRESS%>
				</address>
			</div>
		</div>
		<div class='span6'>
			<div class="pull-right">
				
				<div class="row-fluid">							
					<div class="span6" style="align:right;text-align:left;" align="left">					
						<p style='color:<%=BlackStack::I2P::Invoice.statusColor(invoice.status)%>;font-size:32px;'>
							<br>
							<%=BlackStack::I2P::Invoice.statusDescription(invoice.status)%>
						</p>
					</div>
					<div class="span6" style="align:right;text-align:right;" align="center">					
						<p style='color:<%=BlackStack::I2P::Invoice.statusColor(invoice.status)%>;font-size:22px;'>
							<br>
							<%
							if invoice.automatic_billing != true && invoice.paypal_url.to_s.size > 0 && (invoice.status == BlackStack::I2P::Invoice::STATUS_UNPAID || invoice.status == nil)
							%>
							<a style='border: none;' href="./filter_goto_invoice_paypal?iid=<%=invoice.id.to_s.to_guid%>"><img src='/images/paypal-button-big.png' width='265px' height='102px' /></a>
							<%
							elsif invoice.automatic_billing == true
							%>
							<button class='btn btn-gray btn-large' disabled><b>Auto Billing</b></button>
							<%
							elsif invoice.paypal_url.to_s.size == 0
							%>
							<button class='btn btn-gray btn-large' disabled><b>Link Not Found</b></button>
							<%
							end
							%>
						</p>
					</div>
				</div>

				<br>
				<div class="row-fluid" style="align:right;text-align:right;" align="right">
					<small><strong>Due Date</strong></small>
					<br>
					<%= invoice.dueDateDesc%>
					<br>
					<small>Period: <%= invoice.billingPeriodFromDesc%> to <%= invoice.billingPeriodToDesc%></small>
				</div>
				<br>
			</div>
		</div>	
	</div>
</section>

<section class="row-fluid">	
	<div class='span12 box'>

		<div class="row-fluid">
			<div class="span10">
				<strong><%=account.name%></strong>
				<br/>
				<%
				if account.hasBillingAddress?
				%>
				<%=account.billing_address.to_s%>
				<br/>
				<%=account.billing_city.to_s%>, <%=account.billing_state.to_s%>, <%=account.billing_zipcode.to_s%>.
				<br/>
				<%=account.billing_country.to_s%>.
				<%
				else
				%>
				<small><a href='/settings/clientinformation?redirect=<%=CGI.escape("settings/invoice?iid=#{invoice.id.to_guid}")%>'>Edit Billing Address</a></small>
				<%
				end
				%>
			</div>
			<div class="span2">
				<b>TOTAL:</b>
				<span class="pull-right">$<%= invoice.totalDesc%></span>
			</div>
		</div>

		<br/>

		<div class="row-fluid">
			<div class="pull-right span12">
				<table width='100%'>
					<thead>
						<tr>
							<th width='45%' align='left' colspan=3> Product description </th>
							<th width='15%' align='right' class="span2"> Rate </th>
							<th width='15%' align='right' class="span2"> Units </th>
							<th width='25%' align='right' class="span2"> Line total </th>
						</tr>
					</thead>
					<tbody>
						<%
						# TODO: no se porque los valores flotantes se imprimen como coma (,) en vez de punto (.), entonces tengo que hacer ese reemplazo espantoso .to_s.gsub(",",".")
						bonuses = []
						invoice.items.sort_by {|obj| obj.create_time}.each { |item|
							plan = BlackStack::I2P.plan_descriptor(item.item_number)
							prod = BlackStack::I2P.service_descriptor(plan[:service_code])
							bonus_plans = plan[:bonus_plans]
							bonuses += bonus_plans if !bonus_plans.nil?
						%>
						<tr><td colspan='10' style='height:15px;'> </td></tr>
						<tr>
							<td align='left' colspan=3  valign='top'> 
								<div class="description">
									<%=item.description.encode_html%>
									<%
									if invoice.items.size>1 && invoice.allowedToAddRemoveItems?
									%> 
									<a style='color:gray;text-decoration:none;' href='./filter_remove_invoice_item?iid=<%=iid%>&remove_item_id=<%=item.id.to_guid%>'><i class='icon-remove'></i></a>
									<%
									end
									%>
									<br/>
									<span style='color:gray;'><%=item.detail.encode_html%></span>
									<br/>
								</div>
							</td>
							<td align='right' valign='top'> $<%=("%.4f" % item.unit_price.to_s.gsub(",",".").to_f)%></td>
							<td align='right' valign='top'> <%=(item.units.to_i.to_s)%><br/><span style='color:gray;'><%=prod[:unit_name]%></span></td>
							<td align='right' valign='top'> $<%=("%.2f" % item.amount.to_s.gsub(",",".").to_f)%></td>
						</tr>
						<%
						}
						
						if bonuses.size > 0
							%>
							<tr style='height='15px;'><td><br/></td></tr>
							<tr>
								<td align='left' colspan=3> 
									<div class='bonus'>
										<b><i class='icon-gift'></i> Bonus Products</b>
									</div>
								</td>
							</tr>
							<%
							bonuses.each { |bonus|
								#h = BlackStack::I2P::plans_descriptor.select { |j| j[:item_number].to_s == bonus[:item_number] }.first
								#raise "Bonus plan '#{bonus[:plan]}' not found." if h.nil?
								
								#i = BlackStack::I2P::services_descriptor.select { |j| j[:code] == h[:service_code] }.first
								#raise "Bonus product '#{h[:service_code]}' not found in #{BlackStack::I2P::services_descriptor.to_s}" if i.nil?

								item_bonus = invoice.create_item(bonus[:item_number], 1, false)
								%>
								<tr><td colspan='10' style='height:2px;'> </td></tr>
								<tr>
									<td align='left' colspan=3> 
										<div class="description">
											<%=item_bonus.description.encode_html%>
											<br/>
											<span style='color:gray;'><b><%=item_bonus.detail.encode_html%></b></span>
											<br/>
										</div>
									</td>
									<td align='right' style='color:gray;'> </td>
									<td align='right' style='color:gray;'> </td>
									<td align='right'> 
										<span style='color:red;'>free</span> <span style='color:gray;text-decoration:line-through;'>$<%=("%.2f" % item_bonus.amount.to_s.gsub(",",".").to_f)%></span>
									</td>
								</tr>
								<%
							}
						end # if bonuses.size > 0
						%>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>	

<%
upsell_plans = []

invoice.items.sort_by { |obj| obj.create_time }.reverse.each { |item0|
	upsells = item0.plan_descriptor[:upsells]
	#.select { |obj| obj[:item_number] == item0.item_number }.first[:upsells]
	if !upsells.nil?
		upsells.each { |upsell_item_number|
			add_plan = BlackStack::I2P::plans_descriptor.select { |obj| obj[:item_number] == upsell_item_number }.first
			if !add_plan.nil?
				if upsell_plans.select { |obj| obj[:item_number] == add_plan[:item_number] }.first.nil?
					upsell_plans << add_plan
				end
			end
			
		}
	end
}

compatible_upsell_plans = upsell_plans.select { |obj|
	BlackStack::I2P::Invoice.compatibility?( invoice.items.first.plan_descriptor, obj ) &&
	obj[:public] == true &&
	!( obj[:one_time_offer] == true && account.has_item(obj[:item_number]) ) &&
	invoice.items.select { |item0| item0.plan_descriptor[:item_number] == obj[:item_number] }.first.nil?
}.uniq

if !invoice.allowedToAddRemoveItems? || compatible_upsell_plans.size > 0
%>
<section class="row-fluid">
	<div class='span12 box'>
		<%
		if !invoice.allowedToAddRemoveItems?
		%>
			<table width='100%'>
				<tr><td colspan='10' style='height:5px;'> </td></tr>
				</tr>
			</table>
	
			<div class='pull-left span11'>
				<h4>Why I Can't Edit This Invoice?</h4>
				<p>
					You can't add or remove items from the invoice after you clicked in the PayPal check out button.<br/>
					After the PayPal order has been generated, is not possible to modifiy the invoice.
				</p>
			</div>			
		<%
		else				
			if compatible_upsell_plans.size > 0 # TODO: Remove the add-ons from the $1 invoice
			%>
				<table width='100%'>
					<tr><td colspan='10' style='height:5px;'> </td></tr>
					</tr>
					<tr>
						<td colspan='10' style='height:35px;'>
							<h4>Other Resources That You May Need:</h4>
						</td>
					</tr>
				</table>	
				<%
					n = 0
					compatible_upsell_plans.each { |upsell_plan|
						upsell_product = BlackStack::I2P::services_descriptor.select { |j| j[:code] == upsell_plan[:service_code] }.first
						raise 'Product not found.' if upsell_product.nil?
							
						item = invoice.create_item(upsell_plan[:item_number])
						%>
							
						<%
						if n % 3 == 0
						%>
						<div class="pull-left span12">
						<%
						end
						%>
							
						<div class='span4 box pull-left'>
							<div class='span12'>
								<h4 align="right"><%=item.plan_descriptor[:name]%></h4>						
							</div>
							<div class='span12'>
								<div class='span4'>
									<img width='150px' src='<%=upsell_product[:thumbnail]%>'>
								</div>
								<div class='span8'>
									<%
									if !item.plan_descriptor[:normal_fee].nil?
										fee = item.plan_descriptor[:fee].to_f
										normal = item.plan_descriptor[:normal_fee].to_f
										saving = (normal.to_f - fee.to_f).to_f
										ratio = (saving.to_f / normal.to_f) * 100.to_f
									%>
									<div class='span12'>
										<table align='right'>
											<tr>
												<td align='right'>
													<span style='color:gray;font-size:12px;'>Price:</span><br/>
												</td>
												<td width='10px'></td>
												<td align='left'>
													<span style='color:gray;font-size:14px;text-decoration:line-through;'>$<%=('%.2f' % normal).to_s%></span><br/>													
												</td>
											</tr>
											<tr>
												<td align='right'>
													<span style='color:gray;font-size:12px;'>Offer:</span><br/>
												</td>
												<td></td>
												<td align='left'>
													<span style='color:red;font-size:18px;'>$<%=('%.2f' % fee).to_s%></span><br/>
												</td>
											</tr>
											<tr>
												<td align='right'>
													<span style='color:gray;font-size:12px;'>Saving:</span><br/>
												</td>
												<td></td>
												<td align='left'>
													<span style='color:rgb(153,0,48);font-size:16px;'>$<%=('%.2f' % saving).to_s%> (<%=('%.0f' % ratio).to_s%>%)</span><br/>
												</td>
											</tr>
											
											<tr><td height='15px'></td></tr>
										</table>
									</div>
									<%
									end
									%>

									<div class='span12'>
									<%
									if item.plan_descriptor[:type].to_s == BlackStack::I2P::PAYMENT_SUBSCRIPTION.to_s
									%>
									<p align='right'>
										<span style='color:black;'><b>Plan Details:</b></span><br/>
										<span style='color:gray;'><%=invoice.plan_payment_description(item.plan_descriptor)%></span>
									</p>
									<%
									end
									%>
									<p align='right'>
										<span style='color:black;'><b>Description:</b></span><br/>
										<span style='color:gray;'><%=upsell_product[:description]%></span>
									</p>
									<p align='right'>
										<span style='color:black;'><b>Summary:</b></span><br/>
										<span style='color:gray;font-size:11px;'><%=upsell_product[:summary]%></span>
									</p>
								</div>
							</div>
						</div>
						<div class='span12'>
							<table width='100%'>
								<tr><td colspan='10' style='height:5px;'> </td></tr></tr>
							</table>
						</div>
						<div class='span12'>
							<p align='right'><a href='/filter_add_invoice_item?iid=<%=iid%>&add_item_number=<%=item.item_number%>'><img src='/images/addtocart.png' border=0 /></a></p>									
						</div>
					</div>

					<%
					n += 1

					if n % 3 == 0
					%>
					</div>
					<%
					end
				}
			%>
		</div>
		<%
		end # if a.size > 0
		%>
		<%
		end # if invoice.allowedToAddRemoveItems?
		%>
	</div>	
</section>
<%
end # if !invoice.allowedToAddRemoveItems? || compatible_upsell_plans.size > 0
%>