<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
			<%=nav2("Settings", "/settings/dashboard", "Invoices")%>
		</div>
	</section>
</div>

<!-- Content -->
<section class="row-fluid">
	<div class='span12 box'>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>
						number
					</th>
					<th>
						subscr.
					</th>
					<th>
						priod
					</th>
					<th>
						due
					</th>
					<th align='right'>
						total
					</th>
					<th>
						status
					</th>
					<th>
						<!-- paypal link -->								
					</th>
					<th>
						<!-- manually payment -->								
					</th>
				</tr>
			</thead>
			<tbody>
				<%
				n = 0
				BlackStack::I2P::Invoice.where(:id_account=>@login.user.account.id, :delete_time=>nil).order(:create_time, :billing_period_from).reverse.all { |invoice|
					n += 1
				%>
				<tr>
					<td>
						<a href='./invoice?iid=<%=invoice.id%>' target='_window'>#<%=invoice.number.to_s%></a>
						<%
						if invoice.canBeDeleted?
						%>
						<a class='btn-link btn-mini' href='/settings/filter_delete_invoice?iid=<%=invoice.id.to_guid%>'>delete</a>
						<%
						end
						%>
					</td>
					<td align='right'>
						<a href='/settings/subscriptions'><%=invoice.subscr_id%></a>
					</td>
					<td align='right'>
						<%=invoice.billing_period_from.strftime('%b %d, %Y')%>
					</td>
					<td align='right'>
						<%=invoice.billing_period_to.strftime('%b %d, %Y')%>
					</td>
					<td>
						$<%=invoice.totalDesc.encode_html%>
					</td>
					<td>
						<span class='badge badge-<%=BlackStack::I2P::Invoice.statusColor(invoice.status)%>'><%=BlackStack::I2P::Invoice.statusDescription(invoice.status).to_s.downcase%></span>
					</td>
					<td>
						<%
						if invoice.automatic_billing != true && invoice.paypal_url.to_s.size > 0 && (invoice.status == BlackStack::I2P::Invoice::STATUS_UNPAID || invoice.status == nil)
						%>
						<a style='border:none;' href="./filter_goto_invoice_paypal?iid=<%=invoice.id.to_s.to_guid%>"><img src='/images/paypal-button.png' width='75px' /></a>
						<%
						elsif invoice.automatic_billing == true
						%>
						<small>automatic billing</small>
						<%
						elsif invoice.paypal_url.to_s.size == 0
						%>
						<small>paypal link not found!</small>
						<%
						end
						%>
					</td>
					<td>
						<%
						# if an agent is accessing a client's account, or if the user is the sysowner
						if @login.whois.account.sysowner?
						%>
						<%
						if invoice.subscr_id.nil? && invoice.status.to_i == BlackStack::I2P::Invoice::STATUS_UNPAID
						%>
						<a class='btn btn-pink' href='./filter_set_invoice_paid?iid=<%=invoice.id.to_guid%>'>paid</a>
						<%
						end
						%>
						<%
						end
						%>
					</td>
				</tr>
				<%
				}
				%>
			</tbody>
		</table>
					
		<%
		if (n == 0)
		%>
			<center>
				<br>
				<h4>No invoices found.</h4>
				<p>
					Click <a href="/plans"><b>here</b></a> to choose a plan.
				</p>
			</center>
		<%
		end
		%>
	</div>
</section>