<%
login = @login
user = BlackStack::MySaaS::User.where(:id=>login.id_user).first
c = BlackStack::MySaaS::Account.where(:id=>user.id_account).first
all_prods = BlackStack::I2P::services_descriptor.select { |h| h[:public] }
service_code = all_prods.size == 1 ? all_prods[0][:code] : @login.user.preference('settings.transactions.service_code', '', params[:service_code])
prods = service_code.to_s.empty? ? all_prods : all_prods.select { |o| o[:code] == service_code } 
%>

	<section class="container">

		<section class="row-fluid">	
			<section class='span6'>
				<%=nav2("Settings", "/settings/dashboard", "Transactions")%>
			</section>
			<section class='span6'>
			</section>
		</section>

		<br/>

		<section class="row-fluid">

			<div class="span12 box" style="margin-bottom: 20px">

				<%
				if all_prods.size > 1
				%>
				<div>
					<b>Services: </b> 
					<%
					all_prods.each { |o|
					%>
					<span style='margin:5px;'>
						<%
						if !service_code.empty? && o[:code] == service_code
						%>
							<span class='badge badge-blue'><%=o[:code]%></span>
						<%
						else
						%>
							<a href="/settings/transactions?service_code=<%=o[:code]%>"><%=o[:code]%></a>
						<%
						end
						%>
					</span>
					<%
					}				
					%>

					<span style='margin:5px;'>
						<%
						if service_code.empty?
						%>
							<span class='badge badge-blue'>all</span>
						<%
						else
						%>
							<a href="/settings/transactions?service_code=">all</a>
						<%
						end
						%>
					</span>
				</div>
				<%
				end # if all_prods.size > 0
				%>

				<table class="table table-condensed">
					<thead>
						<tr>
							<th width='95px'>
								date
							</th>
							<th width='95px'>
								service
							</th>
							<th width='95px'>
								type
							</th>
							<th width='auto'>
								description
							</th>
							<th style='text-align:right;' width='65px'>
								amount
							</th>
							<th style='text-align:right;' width='65px'>
								credits
							</th>
							<th style='text-align:right;' width='65px'>
								balance
							</th>							
							<th style='text-align:right;' width='95px'>
								expiration								
							</th>
						</tr>
					</thead>

					<tbody>

						<%
						n = 0
						balance = 0.to_f
						BlackStack::I2P::Movement.where(:id_account=>login.user.account.id, :service_code=>prods.map { |o| o[:code] }).order(:create_time).all { |m|
							n += 1
							balance += m.amount.to_f
						%>
						<tr>
							<td>
								<%=m.create_time.strftime('%b %d, %Y')%>
							</td>
							<td>
								<%=m.service_code.to_s%>
							</td>

							<td>
								<span class='badge badge-<%=BlackStack::I2P::Movement::typeColorName(m.type)%>'>
									<%=BlackStack::I2P::Movement::typeName(m.type)%>
								</span>
							</td>
							<td>
								<%=m.description.to_s%>
							</td>
							<td style='text-align:right;color:<%=-m.amount<0 ? 'red' : 'blue';%>'>
								<%
								if m.amount.to_f == 0
								%>
									<span>-</span>
								<%
								elsif -m.amount.to_f < 0
								%>
									-$<%=('%.2f' % m.amount.to_f)%>
								<%
								else
								%>
									$<%=('%.2f' % -m.amount.to_f)%>
								<%
								end
								%>
							</td>
							<td style='text-align:right;color:<%=-m.credits<0 ? 'red' : 'blue';%>'>
								<%
								if m.credits.to_i == 0
								%>
									<span>-</span>
								<%
								else
								%>
									<span><%=(-m.credits).to_i.to_label%></span>
								<%
								end
								%>
							</td>
							<td style='text-align:right;color:<%=-balance<0 ? 'red' : 'blue';%>'>
								<%
								if balance.to_f == 0.0 
								%>
									<span>-</span>
								<%
								elsif -balance.to_f < 0
								%>
									-$<%=('%.2f' % balance.to_f)%>
								<%
								else
								%>
									$<%=('%.2f' % -balance.to_f)%>
								<%
								end
								%>
							</td>
							<td style='text-align:right;'>
								<%
								if m.id_invoice_item.nil?
								%>
								<span>-</span>
								<%
								else
								%>
								<span><%=m.expiration_time.strftime('%b %d, %Y')%></span>
								<%
								end
								%>
							</td>
						</tr>
						<%
						}
						%>
					</tbody>
				</table>
						
				<%
				if (n == 0)
				%>
					<center>
						<br>
						<h4>No invoices found.</h4>
						<p>
							Click <a href="/plans"><b>here</b></a> to choose a plan.
						</p>
					</center>
				<%
				end
				%>						
			</div>
		</section>
	</section>
